*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body{
	background-image: url("img/back.jpg");
}
.calculator {
	background-color: #f3f3f7;
	width: 500px;
	/*width: 100%;*/
	height: 100%;
	margin: auto;
	border: solid #ea4a4a 1px;
	/*box-shadow: 3px 4px 5px rgb(77, 77, 77), 0 0 10px rgb(77, 77, 77);*/
}

.title{
	padding-top: 1px;
	padding-left: 16px;
	height: 10%;
}

.screen{
	padding-right: 16px;
	height: 20%;
}

.scipad{
	border-top: solid #e7e7e7 1px;
	height: 20%;
	width: 100%;

}

.keypad{
	background-color: #e7e7e7;
	height: 50%;
	width: 100%;
	position: relative;
	top: 0;
}

#sub_screen_label, #screen_label{
	display: block;
	width: 100%;
	font-size: 42px;
	text-align: right;
	margin-top: 0;
	overflow: auto;
}

#sub_screen_label{
	font-size: 22px;
	color: grey;
	margin-bottom: 5px;
}

ul{
    list-style-position: inside;
	padding-left: 0;
	height: 20%;
	width: 100%;
	list-style-type: none;
	margin: 0;
}

.scirow{
	height: 50%;
	width: 100%;
}

.keyrow{

}

li{
	padding: 0;
	float: left;
	display: inline-block;
	width: 20%;
	height: 100%;
}

li p{
	text-align: center;
	font-size: 20px;
}

li:hover{
	background-color: #d2d1d1;
}

#equals:hover{
	background-color: #ea4a4a;
	box-shadow: 0 0 10px rgb(77, 77, 77);
}
#equals:active{
	background-color: #ea4a4a89;
}

li:active{
	background-color: #b1aeae;
}

.num{
	font-weight: bolder;
	font-size: 30px;
}
